body {
  margin-top: 0px; 
  margin-left: 0px;
  padding: 0;
}

a {
  text-decoration: none;
}
header { 
background-color: navy;
color: gold;
font-size: xx-large;
padding-left: 0px;
padding-top: 0px;
}
audio { 
   display:none;
}
h1 {
  text-align: center;
  color: red;
  text-transform: uppercase;
}
p {
  font-family: sans-serif;
  line-height: 1.5;
  word-spacing: .25em;
}
li {
  list-style: square inside;
  font-family: sans-serif;
}
footer {
  background-color: navy;
  text-align: center;
  color: white;
  font-family: verdana;
  font-size: small;
}
